div{
    text-align:center;
  }

h1{
    color: white;
  }

img{
border:5px solid black;
}

span{
    font-size:20px;
    font-style: italic;
    color:white;
  }

a:link, a:visited {
    background-color:#A4A4A4;
    color: black;
    padding: 24px 35px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }

a:hover, a:active {
    background-color: #F2F2F2;
  }

h5{
    text-align:right;
    color: grey;
  }
  
