/* wybrane.html styles */

div {
  color:white;
}

h3{
  display: block;
  text-align:center;
}

h2 {
  color: white;
  display: block;
}

#sauce {
  color:yellow;
  background-color:transparent;
  text-decoration:none
}

#sauce:hover{
  color:purple;
}